<div class="center">
  <div class="container">
    <div class="row">
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit1 id="txtDigit1" name="txtDigit1" />
      </div>
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit2 id="txtDigit2" name="txtDigit2" />
      </div>
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit3 id="txtDigit3" name="txtDigit3" />
      </div>
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit4 id="txtDigit4" name="txtDigit4" />
      </div>
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit5 id="txtDigit5" name="txtDigit5" />
      </div>
      <div class="col md-2">
        <input type="number" class="txtbox" #txtDigit6 id="txtDigit6" name="txtDigit6" />
      </div>      
    </div>
  </div>
</div>