@import './assets/themes/theme-variables.scss';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;
}

// Disabled style for non applied elements like mat-card
.disabled {
    cursor: none;
    pointer-events: none;
    opacity: .5;
}

//Snackbar globel style
.success-snackbar {
    background: $clr-green;
    color: $clr-white;
  }
  .warning-snackbar{
    background: $clr-warn;
    color: $clr-white;
  }
  .info-snackbar{
    background: $clr-light-blue;
    color: $clr-white;
  }
