@use '@angular/material' as mat;
@import "mixin";
@import "theme-variables";

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-font.ttf);
}
@include mat.core();

$budget-bites-primary: mat.define-palette($mainly-green-palette, 500);
$budget-bites-accent: mat.define-palette($mainly-green-palette, 500);

$budget-bites-theme: mat.define-light-theme((
 color: (
   primary: $budget-bites-primary,
   accent: $budget-bites-accent,
 ),
 typography: mat.define-typography-config(
    $font-family: 'Open Sans',
  )
));

@include mat.all-component-themes($budget-bites-theme);

/*Change Autofill background color*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}
