// Style guide formats

// Color formats
$clr-mainly-green: #38D39F;
$clr-philippine-silver: #b6b2b2;
$clr-bluish-cyan: #F1F3F4;
$clr-light-gray: #d2d2d27d;
$clr-white: #FFFFFF;
$clr-black: #000000;
$clr-orion-grey: #515357;
$clr-airex-grey: #909196;
$clr-read-wine: #9B1419;
$clr-green: #008000;
$clr-red: #ff0000;
$clr-warn: #f44336;
$clr-dark-gray: #808080;
$clr-warm-gray:#fafafa;
$clr-light-blue: #5C6BC0;
$black-87-opacity: rgba(black, 0.87);

 //Color Palette
$mainly-green-palette: (
   50: #ffffff,
   100: #dde6f3,
   200: #b4c9e4,
   300: #7fa3d1,
   400: #69c9a7,
   500: $clr-mainly-green,
   600: #4072b4,
   700: #38649d,
   800: #305687,
   900: #284770,
   A100: #ffffff,
   A200: #dde6f3,
   A400: #6992c9,
   A700: #38d3b9,
   contrast: (
       50: $black-87-opacity,
       100: $black-87-opacity,
       200: $black-87-opacity,
       300: $black-87-opacity,
       400: $black-87-opacity,
       500: white,
       600: white,
       700: white,
       800: white,
       900: white,
       A100: $black-87-opacity,
       A200: $black-87-opacity,
       A400: $black-87-opacity,
       A700: white,
   )
);

// Size formats
$Heading-1: 2.25rem; // 36px
$Heading-2: 1.75rem; // 28px
$Heading-3: 1.25rem; // 20px
$Typography-1: 1.125rem; // 18px
$Typography-2: 1rem; // 16px
$Typography-3: 0.875rem; // 14px
$Typography-4: 0.75rem; // 12px

// Font Weights

 $font-normal: 400;
 $font-medium: 500;
 $font-semibold: 600;
 $font-bold: 700;
